@model MvcDatabase.Models.Customer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.CustomerId)

        <div class="form-group">
            @Html.LabelFor(model => model.Cname, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cname)
                @Html.ValidationMessageFor(model => model.Cname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Caddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Caddress)
                @Html.ValidationMessageFor(model => model.Caddress)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cemail, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cemail)
                @Html.ValidationMessageFor(model => model.Cemail)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cusername, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cusername)
                @Html.ValidationMessageFor(model => model.Cusername)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cpassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cpassword)
                @Html.ValidationMessageFor(model => model.Cpassword)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
